<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2024 Pixel Développement
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PixelOpen_ProductMainCategory">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Eav"/>
            <module name="Magento_Framework"/>
        </sequence>
    </module>
</config>
